@font-face{
    font-family:  MyFont;
    src: url("C:\projek latihan\bahasa pemrogramman\Visual studio code\web design\web\Roboto-Regular.ttf");
}
*{
    box-sizing: border-box;
}
body{
    font-family: MyFont;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(234, 29%, 20%);
}
.card{
    display: flex;
    width: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
.right{
    width: 60%;
}
.left{
    width:40%
}
.left img{
    width: 100%;
}
ul{
    list-style-image: url(file:///C:/projek%20latihan/bahasa%20pemrogramman/Visual%20studio%20code/web%20design/web/icon-list.svg);
    /*width: 30px */
    /*list-style-position: ; */
}
li {
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

label{
    margin-bottom: 10px;
}
input{
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
}
button{
    font-family: inherit;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    color: white;
    background-color: hsl(235, 18%, 26%);
    border-radius: 5px;

}
h3 {
    font-size: 50px;
    
}
.hide{
    display: none;
}
.card-2 {
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
}

.card-2 h1{
    font-size: 40px;
}
.card-2 button {
    width: 100%;
}